.container {
    .navbar {
        button {
            i {
                margin-right: 10px;
                margin-bottom: 2px;
            }
            i:hover {
                color: #ffff !important;
            }
        }
        #navbarText {
            .navbar-nav {
                .nav-item {
                    i:hover {
                        color: #673ab7 !important;
                    }
                }
            }
        }
    }
}
