<div class="main container">
    <div class="row">
        <div id="info" class="col-md-6">
            <div id="name"><h2>Sarthak Negi</h2></div>
            <div id="bio">Full Stack Web Developer based in Chandigarh, India</div>
            <div id="specializing-in">Can work on <span [@valueAnimation]="randomIndex">{{ specializesIn[randomIndex] }}</span></div>
        </div>
        <div id="picture" class="col-md-6">
            <img src="{{ profilePicture }}" alt="">
        </div>
    </div>
</div>